* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #fff;
  color:  rgb(178, 55, 137);
}

a {
  text-decoration:none ;
  color: #F7D354;
  transition: .5s;
}

a:hover{
  color: #b8930c;
}